html,
body {
  font-family: arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
  z-index: 1;
}

#toggle {
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 10px;
}

.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

.text {
  font-size: 12px;
}

ul {
  list-style: none;
}

li {
  border: black;
}

.hide {
  left: 0px !important;
  width: 100%;
}

.smallText {
  width: 150px;
}

.gm-style-iw {
width: 300px; 
min-height: 50px;
min-width: 10%;
}